/* Main */
.App {
  background: rgb(249, 247, 209);
  background: linear-gradient(
    120deg,
    rgba(249, 247, 209, 1) 0%,
    rgba(255, 253, 208, 1) 50%,
    rgba(255, 251, 135, 1) 100%
  );
  font-size: 3rem;
}

/* Header */
.Header {
  background-color: #ffe135;
}
.Navbar {
  background-color: #fcf4a3;
  padding: 1rem;
}
.link {
  text-decoration: none;
  color: #3a392e;
}

/* Footer */
.Footer {
  background: rgb(236, 232, 118);
  padding: 1rem;
}
